@font-face {
  font-family: "Inter-Semibold";
  src: local("Inter-Semibold"),
    url("./fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Inter-Extrabold";
  src: local("Inter-Extrabold"),
    url("./fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: normal;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;  
    font-family: "Inter-Extrabold";
}
.container > *{
  margin:10px;
}
